NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

SVIX_WEBHOOK_SECRET=
NODE_ENV=

DATABASE_URL=postgresql://<user>:<password>@localhost:5433/cf_tracker_db?schema=public

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up

GEMINI_API_KEY=